In [1]:
%store -r word_df

import pickle
import pandas as pd
import numpy as np

# pickle.dump(word_df, fileObject)
# b = pickle.load(fileObject)

print(word_df.shape)
print(word_df.head())

(989, 8)
  search_word                                        description  \
0     Siemens  15 Things You Didn't Know About SIEMENS | SUBS...
1     Siemens  From digitalisation to automation, weƒ??re cha...
2     Siemens  Are you interested in what Siemens does and wh...
3     Siemens  The most powerful HVDC transformer in the worl...
4     Siemens  Articolul complet pe site: https://cavaleria.r...

                               localized.description  \
0  15 Things You Didn't Know About SIEMENS | SUBS...
1  From digitalisation to automation, weƒ??re cha...
2  Are you interested in what Siemens does and wh...
3  The most powerful HVDC transformer in the worl...
4  Articolul complet pe site: https://cavaleria.r...

                                     localized.title  \
0            15 Things You Didn't Know About SIEMENS
1                What is it like to work at Siemens?
2                  Siemens - More than just business
3  Siemens presents: The first 1,100 kV HVDC Tran...
4  Ce ??nseamnŽŸ sŽŸ lucrezi la Siemens - Cavaler...

                                                tags  \
0  ['Alux', 'Alux.com', 'Alux Youtube', 'luxury l...
1  ['Siemens', 'Siemens UK', 'careers', 'jobs', '...
2  ['SIEMENS', 'products', 'Energy', 'Healthcare'...
3  ['Siemens', 'HVDC', 'Transformer', '1100kV', '...
4  ['Cavaleria.ro', 'hacking', 'siemens', 'job', ...

                                               title                Age  \
0            15 Things You Didn't Know About SIEMENS  323 days 12:06:13
1                What is it like to work at Siemens?  372 days 04:41:10
2                  Siemens - More than just business 1917 days 12:52:59
3  Siemens presents: The first 1,100 kV HVDC Tran...   42 days 11:22:18
4  Ce ??nseamnŽŸ sŽŸ lucrezi la Siemens - Cavaler...    0 days 03:48:01

   view_bucket
0          2.0
1          1.0
2          5.0
3          4.0
4          1.0

In [2]:
#Check to see if these two columns are the same
print(word_df['localized.title'].equals(word_df['title']))
print(word_df['localized.description'].equals(word_df['description']))
print(np.count_nonzero(word_df['localized.description']==(word_df['description'])))

True
False
974

In [3]:
# Almost all descriptions are the same, so go ahead and drop one of the columns
word_df = word_df.drop(columns=['localized.title'])
word_df = word_df.drop(columns=['localized.description'])

In [4]:
sample = word_df[['description','tags','title']]

In [5]:
word_df.groupby('search_word').describe()

                 Age                                                       \
               count                       mean                       std
search_word
Siemens           50   852 days 06:55:17.680000  730 days 21:00:42.421331
cats              50   297 days 19:52:12.560000  404 days 05:12:19.424387
christmas         50   170 days 16:36:44.660000  398 days 07:02:03.936969
donald trump      50   150 days 16:17:27.120000  465 days 10:30:16.153302
dude perfect      50   540 days 05:44:52.780000  613 days 17:54:27.446347
gaming            50    65 days 09:37:05.520000  120 days 01:32:45.317851
golf              50    58 days 23:48:37.260000  273 days 06:45:47.156569
horror            50    95 days 21:06:36.720000  172 days 09:52:51.241557
iphone            50    44 days 12:54:04.780000  123 days 16:00:21.882220
laugh             50    37 days 18:53:58.940000  112 days 11:12:24.320534
mac               50   198 days 06:01:58.100000  568 days 07:14:23.539944
mars              50    74 days 12:16:52.900000  170 days 09:47:04.148964
minecraft         50     3 days 09:31:07.520000   14 days 20:39:25.026309
movies            50   284 days 14:32:39.680000  315 days 15:31:48.774248
music             40   512 days 00:07:11.375000  688 days 17:48:08.273441
python            50   386 days 17:32:20.200000  687 days 12:23:44.668592
speedrun          50   111 days 17:04:11.100000  190 days 21:28:01.656107
sports            49    39 days 02:40:43.102040  105 days 13:02:30.999832
vacation          50   636 days 18:22:57.960000  914 days 15:30:01.796265
video blogging    50  1128 days 12:53:28.899999  984 days 08:39:47.124790

                                                              \
                               min                       25%
search_word
Siemens          -5 days +13:24:35  348 days 03:57:33.750000
cats             -5 days +20:59:56  -2 days +14:59:59.250000
christmas        -5 days +05:34:49  -4 days +09:44:55.250000
donald trump     -5 days +07:16:01  -3 days +08:25:06.250000
dude perfect     -4 days +04:02:11  138 days 07:58:30.750000
gaming           -5 days +03:58:20  -4 days +15:46:20.500000
golf             -5 days +01:21:17  -4 days +01:03:38.750000
horror           -9 days +08:59:59  -4 days +06:40:32.500000
iphone           -5 days +06:00:00  -3 days +15:42:42.250000
laugh            -5 days +05:29:57  -4 days +02:47:17.500000
mac              -5 days +04:41:37  -4 days +19:31:45.500000
mars             -5 days +09:37:33  -1 days +13:08:04.500000
minecraft        -5 days +04:08:37  -4 days +04:37:11.500000
movies           -8 days +06:47:59   48 days 02:04:22.750000
music            -5 days +17:13:47  -1 days +12:07:57.500000
python          -10 days +21:21:28         -2 days +23:54:12
speedrun         -5 days +02:24:16  -4 days +10:48:29.500000
sports           -5 days +02:51:11         -5 days +12:54:56
vacation        -10 days +22:55:53  -8 days +21:44:33.250000
video blogging     5 days 11:43:20         356 days 02:56:11

                                                                     \
                                     50%                        75%
search_word
Siemens                695 days 14:12:52  1228 days 18:59:02.500000
cats                   117 days 23:56:12   528 days 12:16:19.500000
christmas       -1 days +11:42:59.500000    15 days 16:40:30.750000
donald trump           -3 days +22:35:56     5 days 23:28:46.750000
dude perfect           378 days 13:01:53   709 days 19:03:00.500000
gaming            1 days 22:28:51.500000    83 days 22:45:08.500000
golf            -3 days +20:29:57.500000            9 days 17:29:44
horror                   5 days 15:44:06   118 days 16:43:51.500000
iphone            1 days 13:29:58.500000    28 days 18:30:53.250000
laugh           -3 days +02:37:38.500000    10 days 17:36:17.250000
mac                    -2 days +08:37:28           99 days 11:51:51
mars              1 days 12:58:21.500000    33 days 05:15:38.250000
minecraft       -3 days +01:55:51.500000            1 days 15:07:06
movies          187 days 20:39:38.500000   399 days 01:40:50.500000
music           184 days 16:41:03.500000   803 days 18:04:12.250000
python                 128 days 23:08:30   472 days 09:15:22.500000
speedrun         14 days 23:30:39.500000   161 days 06:44:54.500000
sports                 -4 days +18:20:10            5 days 12:00:00
vacation               186 days 03:43:06  1124 days 15:41:42.750000
video blogging  786 days 04:30:09.500000         1561 days 01:48:14

                                   view_bucket                                \
                               max       count        mean          std  min
search_word
Siemens         2785 days 15:34:21        50.0    3.080000     4.601863  1.0
cats            1844 days 01:48:23        50.0  355.780000   594.014474  1.0
christmas       1800 days 04:15:40        50.0   96.540000   232.797907  1.0
donald trump    2825 days 17:56:37        50.0   92.500000   456.594593  1.0
dude perfect    3519 days 18:17:12        50.0  944.080000   783.887404  2.0
gaming           550 days 03:44:08        50.0   27.800000    41.759760  1.0
golf            1912 days 11:02:30        50.0   22.780000   133.319976  1.0
horror           815 days 08:29:59        50.0   28.680000    57.749084  1.0
iphone           614 days 21:07:58        50.0   32.540000    73.207898  1.0
laugh            631 days 06:55:47        50.0   27.560000    55.466541  1.0
mac             2685 days 17:28:33        50.0   99.540000   333.652894  1.0
mars             736 days 09:32:46        50.0   13.460000    28.978676  1.0
minecraft         62 days 04:59:59        50.0   18.920000    28.982641  1.0
movies          1477 days 14:45:36        50.0  153.980000   216.524824  1.0
music           2850 days 05:04:39        40.0  894.200000  1460.454043  2.0
python          3411 days 10:39:45        50.0  115.860000   424.801275  1.0
speedrun         936 days 11:16:49        50.0    9.940000    17.537610  1.0
sports           544 days 03:39:31        49.0   33.285714   100.453140  1.0
vacation        3742 days 16:11:59        50.0   85.340000   158.210608  1.0
video blogging  3967 days 12:42:16        50.0   10.060000    21.260685  1.0


                   25%    50%      75%     max
search_word
Siemens           1.00    1.0     3.00    25.0
cats              3.00   55.0   384.25  2340.0
christmas         1.25    8.5    55.50  1172.0
donald trump      1.00    3.0     8.50  3168.0
dude perfect    422.25  595.5  1263.50  3511.0
gaming            3.00    6.0    41.00   196.0
golf              1.00    1.0     2.00   945.0
horror            1.00    4.5    18.50   224.0
iphone            1.00    3.5    31.00   460.0
laugh             1.00    3.5    15.50   230.0
mac               1.00    1.0    11.50  1774.0
mars              2.00    4.0    11.75   188.0
minecraft         2.25    4.5    20.50   109.0
movies           22.25   88.0   179.00  1142.0
music            41.50  448.5  1019.75  7786.0
python            1.00    5.0    36.00  2191.0
speedrun          1.00    1.0    11.50    85.0
sports            1.00    4.0    17.00   608.0
vacation          3.25   16.0    72.25   803.0
video blogging    1.00    1.0     8.50   121.0

In [6]:
word_df.head(5)

,search_word,description,tags,title,Age,view_bucket
0,Siemens,15 Things You Didn't Know About SIEMENS | SUBS...,"['Alux', 'Alux.com', 'Alux Youtube', 'luxury l...",15 Things You Didn't Know About SIEMENS,323 days 12:06:13,2.0
1,Siemens,"From digitalisation to automation, weƒ??re cha...","['Siemens', 'Siemens UK', 'careers', 'jobs', '...",What is it like to work at Siemens?,372 days 04:41:10,1.0
2,Siemens,Are you interested in what Siemens does and wh...,"['SIEMENS', 'products', 'Energy', 'Healthcare'...",Siemens - More than just business,1917 days 12:52:59,5.0
3,Siemens,The most powerful HVDC transformer in the worl...,"['Siemens', 'HVDC', 'Transformer', '1100kV', '...","Siemens presents: The first 1,100 kV HVDC Tran...",42 days 11:22:18,4.0
4,Siemens,Articolul complet pe site: https://cavaleria.r...,"['Cavaleria.ro', 'hacking', 'siemens', 'job', ...",Ce ??nseamnŽŸ sŽŸ lucrezi la Siemens - Cavaler...,0 days 03:48:01,1.0

In [7]:
word_df['description'] = word_df['description'].astype(str)
word_df['tags'] = word_df['tags'].astype(str)

In [8]:
import string
exp1_df = pd.DataFrame()
exp1_df['title_char_count'] = word_df['title'].apply(len)
exp1_df['title_word_count'] = word_df['title'].apply(lambda x: len(x.split()))
exp1_df['title_word_density'] = exp1_df['title_char_count'] / (exp1_df['title_word_count']+1)
exp1_df['title_punctuation_count'] = word_df['title'].apply(lambda x: len("".join(_ for _ in x if _ in string.punctuation))) 
exp1_df['title_title_word_count'] = word_df['title'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
exp1_df['title_upper_case_word_count'] = word_df['title'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))

In [9]:
exp1_df['desc_char_count'] = word_df['description'].apply(len)
exp1_df['desc_word_count'] = word_df['description'].apply(lambda x: len(x.split()))
exp1_df['desc_word_density'] = exp1_df['desc_char_count'] / (exp1_df['desc_word_count']+1)
exp1_df['desc_punctuation_count'] = word_df['description'].apply(lambda x: len("".join(_ for _ in x if _ in string.punctuation))) 
exp1_df['desc_title_word_count'] = word_df['description'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
exp1_df['desc_upper_case_word_count'] = word_df['description'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))

In [10]:
# Chosen to exclude Punctuation count for tags list since this column is a list format
exp1_df['tags_char_count'] = word_df['tags'].apply(len)
exp1_df['tags_word_count'] = word_df['tags'].apply(lambda x: len(x.split()))
exp1_df['tags_word_density'] = exp1_df['tags_char_count'] / (exp1_df['tags_word_count']+1)
exp1_df['tags_title_word_count'] = word_df['tags'].apply(lambda x: len([wrd for wrd in x.split() if wrd.istitle()]))
exp1_df['desc_upper_case_word_count'] = word_df['tags'].apply(lambda x: len([wrd for wrd in x.split() if wrd.isupper()]))

In [11]:
exp1_df.head()

,title_char_count,title_word_count,title_word_density,title_punctuation_count,title_title_word_count,title_upper_case_word_count,desc_char_count,desc_word_count,desc_word_density,desc_punctuation_count,desc_title_word_count,desc_upper_case_word_count,tags_char_count,tags_word_count,tags_word_density,tags_title_word_count
0,39,7,4.875000,1,4,1,2589,238,10.832636,242,61,0,514,57,8.862069,11
1,35,8,3.888889,1,2,0,535,81,6.524390,24,7,1,162,15,10.125000,2
2,33,6,4.714286,1,2,0,293,46,6.234043,5,6,1,161,14,10.733333,5
3,68,10,6.181818,4,3,1,362,49,7.240000,16,3,1,96,9,9.600000,4
4,51,8,5.666667,4,2,0,207,14,13.800000,34,4,0,204,21,9.272727,0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(exp1_df[['title_char_count', 'title_word_count', 'title_word_density', 'title_punctuation_count',
                                                             'title_title_word_count', 'title_upper_case_word_count', 'desc_char_count', 'desc_word_count',
                                                             'desc_word_density', 'desc_punctuation_count', 'desc_title_word_count', 'desc_upper_case_word_count',
                                                             'tags_char_count', 'tags_word_count', 'tags_word_density', 'tags_title_word_count', 'desc_upper_case_word_count']], 
                                                             word_df['view_bucket'], test_size=0.1)
X_train.shape, X_test.shape

((890, 17), (99, 17))

In [13]:
# Train a logistic regression model
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(C=1, random_state=42)

In [14]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [15]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(lr.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.30

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

        1.0       0.35      0.97      0.52        31
        2.0       0.00      0.00      0.00         6
        3.0       0.00      0.00      0.00         6
        4.0       0.00      0.00      0.00         4
        5.0       0.00      0.00      0.00         3
        6.0       0.00      0.00      0.00         1
        7.0       0.00      0.00      0.00         4
        9.0       0.00      0.00      0.00         3
       11.0       0.00      0.00      0.00         2
       12.0       0.00      0.00      0.00         1
       13.0       0.00      0.00      0.00         2
       16.0       0.00      0.00      0.00         1
       17.0       0.00      0.00      0.00         1
       19.0       0.00      0.00      0.00         1
       20.0       0.00      0.00      0.00         1
       25.0       0.00      0.00      0.00         1
       26.0       0.00      0.00      0.00         0
       29.0       0.00      0.00      0.00         2
       32.0       0.00      0.00      0.00         2
       36.0       0.00      0.00      0.00         1
       41.0       0.00      0.00      0.00         1
       42.0       0.00      0.00      0.00         1
       44.0       0.00      0.00      0.00         1
       45.0       0.00      0.00      0.00         0
       54.0       0.00      0.00      0.00         1
       55.0       0.00      0.00      0.00         1
       56.0       0.00      0.00      0.00         1
       64.0       0.00      0.00      0.00         1
       67.0       0.00      0.00      0.00         0
       97.0       0.00      0.00      0.00         2
      129.0       0.00      0.00      0.00         1
      146.0       0.00      0.00      0.00         1
      151.0       0.00      0.00      0.00         1
      158.0       0.00      0.00      0.00         1
      172.0       0.00      0.00      0.00         1
      214.0       0.00      0.00      0.00         1
      246.0       0.00      0.00      0.00         0
      280.0       0.00      0.00      0.00         0
      364.0       0.00      0.00      0.00         0
      369.0       0.00      0.00      0.00         1
      467.0       0.00      0.00      0.00         0
      492.0       0.00      0.00      0.00         1
      515.0       0.00      0.00      0.00         1
      531.0       0.00      0.00      0.00         1
      543.0       0.00      0.00      0.00         1
      596.0       0.00      0.00      0.00         1
      599.0       0.00      0.00      0.00         1
      634.0       0.00      0.00      0.00         0
      684.0       0.00      0.00      0.00         1
      692.0       0.00      0.00      0.00         0
      789.0       0.00      0.00      0.00         0
      907.0       0.00      0.00      0.00         1
     1142.0       0.00      0.00      0.00         0
     1621.0       0.00      0.00      0.00         0
     1909.0       0.00      0.00      0.00         0
     2175.0       0.00      0.00      0.00         1
     2191.0       0.00      0.00      0.00         1
     3168.0       0.00      0.00      0.00         0

avg / total       0.11      0.30      0.16        99

C:\Users\z002xczx\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\z002xczx\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1137: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [17]:
print('Accuracy: ' + str(np.mean(y_pred == y_test)))
print('Dismal performance from these features.  Moving on to experiment 2: count vectorizer and tfidf')

Accuracy: 0.30303030303030304
Dismal performance from these features.  Moving on to experiment 2: count vectorizer

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
# count_vect = CountVectorizer()
# X_train_title = count_vect.fit_transform(word_df['title'])

from sklearn.feature_extraction.text import TfidfTransformer
# tfidf_transformer = TfidfTransformer()
# X_train_tfidf_title = tfidf_transformer.fit_transform(X_train_title)
# X_train_tfidf_title.shape

(989, 2801)

In [20]:
# X_train_search = count_vect.fit_transform(word_df['search_word'])
# X_train_tfidf_search = tfidf_transformer.fit_transform(X_train_search)
# X_train_tfidf_search.shape

(989, 23)

In [21]:
# X_train_description = count_vect.fit_transform(word_df['description'])
# X_train_tfidf_description = tfidf_transformer.fit_transform(X_train_description)
# X_train_tfidf_description.shape

(989, 21238)

In [22]:
# X_train_tags = count_vect.fit_transform(word_df['tags'])
# X_train_tfidf_tags = tfidf_transformer.fit_transform(X_train_tags)
# X_train_tfidf_tags.shape

(989, 6984)

In [23]:
# concatenate to build one huge DF  add up all side by side.   don't make each data frame column.  that is fundamentally
df = pd.DataFrame()
df['title'] = X_train_tfidf_title.toarray().tolist()
df['description'] = X_train_tfidf_description.toarray().tolist()
df['search'] = X_train_tfidf_search.toarray().tolist()
df['tags'] = X_train_tfidf_tags.toarray().tolist()
df.head()

,title,description,search,tags
0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.10421281640261512, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [24]:
X_train, X_test, y_train, y_test = train_test_split(df[['title','description','search','tags']], word_df['view_bucket'], test_size=0.1)
X_train.shape, X_test.shape

((890, 4), (99, 4))

In [25]:
X_train = np.array(X_train)
X_train.shape

(890, 4)

In [112]:
# scikit learn is particular about dimension handling so create one single column data frame with all words
single_df = pd.DataFrame()
single_df['words'] = word_df['search_word'] + ' ' + word_df["title"] + ' ' + word_df["description"] + ' ' + word_df['tags']
print(single_df.head(5))

                                               words
0  Siemens 15 Things You Didn't Know About SIEMEN...
1  Siemens What is it like to work at Siemens? Fr...
2  Siemens Siemens - More than just business Are ...
3  Siemens Siemens presents: The first 1,100 kV H...
4  Siemens Ce ??nseamnŽŸ sŽŸ lucrezi la Siemens -...

In [100]:
# single_df_tfidf = pd.DataFrame()
# single_df_count = count_vect.fit_transform(single_df['words'])
# single_df_tfidf = tfidf_transformer.fit_transform(single_df_count)
# # single_df_tfidf = exp1_df.join(single_df_tfidf)

# print(exp1_df['desc_word_count'].shape)
# print(single_df_tfidf.shape)

In [101]:
X_train, X_test, y_train, y_test = train_test_split(single_df, word_df['view_bucket'], test_size=0.1)
X_train.shape, X_test.shape

((890, 23769), (99, 23769))

In [102]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [105]:
# Utilize pipeline to make this process easier going forward
from sklearn.pipeline import Pipeline
text_logreg = Pipeline([
                     ('logreg', LogisticRegression(C=1, random_state=42))
                    ])
text_logreg = text_logreg.fit(X_train, y_train)

In [106]:

predicted = text_logreg.predict(X_test)
print('Accuracy of Log Reg TFIDF Transformer: ' + str(np.mean(predicted == y_test)))

Accuracy of Log Reg TFIDF Transformer: 0.3434343434343434

In [107]:

text_clf = Pipeline([

                     ('clf', MultinomialNB())
                    ])
text_clf = text_clf.fit(X_train, y_train)

In [108]:

predicted = text_clf.predict(X_test)
print('Accuracy of MutlinomialNB: ' + str(np.mean(predicted == y_test)))

Accuracy of MutlinomialNB: 0.3434343434343434

In [45]:
print('Accuracy is slightly better than count based features Log Reg model')

Accuracy is slightly better than count based features Log Reg model

In [110]:
from sklearn.linear_model import SGDClassifier
text_clf_svm = Pipeline([

                       ('clf-svm', SGDClassifier(loss='hinge', penalty='l2',
                         alpha=1e-3, n_iter=5, random_state=42)),
                       ])
_ = text_clf_svm.fit(X_train, y_train)

C:\Users\z002xczx\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:117: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [111]:
predicted_svm = text_clf_svm.predict(X_test)
print('Accuracy of SVM algorithm: ' + str(np.mean(predicted_svm == y_test)))

Accuracy of SVM algorithm: 0.3333333333333333

In [ ]:
print('Accuracy is worse')

In [75]:
# consider using tfidvectorizer    no need to to use tfidtransformer.   use either countvectorizer or tfidvectorizer
from sklearn.neighbors import KNeighborsClassifier  
text_knn = Pipeline([
                     ('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                     ('knn', KNeighborsClassifier(n_neighbors=20) )
                    ])
text_knn = text_knn.fit(X_train, y_train)

 
predicted = text_knn.predict(X_test)
print('Accuracy of knn: ' + str(np.mean(predicted == y_test)))

Accuracy of knn: 0.3434343434343434

In [76]:
print('Best accuracy so far with KNN')

Best accuracy so far with KNN

In [89]:
# Try Random Forest initially without parameter tuning 
from sklearn.ensemble import RandomForestClassifier

text_rf = Pipeline([
                     ('tfidf', TfidfTransformer()),
                     ('rf', RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)) 
                    ])
text_rf = text_rf.fit(X_train, y_train)

predicted = text_rf.predict(X_test)
print('Accuracy of initial Random Forest: ' + str(np.mean(predicted == y_test)))

Accuracy of initial Random Forest: 0.32323232323232326

In [91]:
# Try XGBoost
import xgboost as xgb

text_xgb = Pipeline([
                     ('tfidf', TfidfTransformer()),
                     ('xgb', xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)) 
                    ])
text_xgb = text_xgb.fit(X_train, y_train)

predicted = text_xgb.predict(X_test)
print('Accuracy of initial XGBoost: ' + str(np.mean(predicted == y_test)))

Accuracy of initial XGBoost: 0.0